{% extends 'base.html' %}

{% block container %}
  <!-- Page Content -->
  <div class="container">

    <!-- Page Heading/Breadcrumbs -->
    <h1 class="mt-4 mb-3">Website
      <small>GraySpaceIT</small>
    </h1>

    <ol class="breadcrumb">
      <li class="breadcrumb-item">
        <a href="index.html">Home</a>
      </li>
      <li class="breadcrumb-item active">Json placeholder, Serializer, JWT</li>
    </ol>

    <div class="col-md-6 col-auto">
      <div class="card">
        <div class="card-header">
          Posts
        </div>
        <ul class="list-group list-group-flush">
          {% for post in posts %}
          <li class="list-group-item">
            <div class="destination_subtitle">
              <p>Post-ID: {{post.id}}</p>
            </div>
            <div class="destination_subtitle">
              <p>{{post.tittle}}</p>
            </div>
            <div class="destination_subtitle">
              <p>Post-Body: {{post.body}}</p>
            </div>
          </li>
          
          <!--<li class="list-group-item">{{ post.id }} - {{ post.title }}  - {{post.body}}</li>-->
          {% endfor %}
        </ul>
      </div>
    </div>


    <!-- Pagination -->
    <ul class="pagination justify-content-center mb-4">
      <li class="page-item">
        <a class="page-link" href="#">&larr; Older</a>
      </li>
      <li class="page-item disabled">
        <a class="page-link" href="#">Newer &rarr;</a>
      </li>
    </ul>

  </div>
  <!-- /.container -->
{% endblock container %}