{% extends 'base.html' %}

{% block container %}
    <!-- Page Content -->
    <div class="container" style="min-height: 80vh;">

        <!-- Page Heading/Breadcrumbs -->
        <h1 class="mt-4 mb-3">Register
            <small>Form</small>
        </h1>
        <ol class="breadcrumb">
            <li class="breadcrumb-item active">Register</li>
        </ol>
        <!-- Content Row -->
        <div class="page-wrapper bg-blue p-t-100 p-b-100 font-robo">
            <div class="wrapper wrapper--w680">
                <div class="card card-1">
                    <div class="card-heading"></div>
                    <div class="card-body">
                        <h2 class="title">Registration Info</h2>
                        <form method="POST">
                            {% csrf_token %}

                                <div class="control-group form-group">
                                    <div class="controls">
                                    <label>First Name*</label>
                                    <input type="text" name="first_name" class="form-control" id="first_name" required data-validation-required-message="Please enter your First Name.">
                                    <p class="help-block"></p>
                                    </div>
                                </div>

                                <div class="control-group form-group">
                                    <div class="controls">
                                    <label>Last Name*</label>
                                    <input type="text" name="last_name" class="form-control" id="last_name" required data-validation-required-message="Please enter your Last Name.">
                                    <p class="help-block"></p>
                                    </div>
                                </div>

                                <div class="control-group form-group">
                                    <div class="controls">
                                    <label>Username*</label>
                                    <input type="text" name="username" class="form-control" id="username" required data-validation-required-message="Please enter your Username.">
                                    <p class="help-block"></p>
                                    </div>
                                </div>

                                <div class="control-group form-group">
                                    <div class="controls">
                                    <label>Email*</label>
                                    <input type="email" name="email" class="form-control" id="email" required data-validation-required-message="Please enter your email.">
                                    <p class="help-block"></p>
                                    </div>
                                </div>

                                <div class="control-group form-group">
                                    <div class="controls">
                                    <label>Password*</label>
                                    <input type="password" name="password1" class="form-control" id="password1" required data-validation-required-message="Please enter your password.">
                                    <p class="help-block"></p>
                                    </div>
                                </div>

                                <div class="control-group form-group">
                                    <div class="controls">
                                    <label>Confirm-Password*</label>
                                    <input type="password" name="password2" class="form-control" id="password2" required data-validation-required-message="Please Confirm your password.">
                                    <p class="help-block"></p>
                                    </div>
                                </div>
                                <button type="submit" class="btn btn-primary" id="login-btn">Register</button>
                            </form>
                            <div>
                            {% for message in messages %}
                            <h3> {{message}}  </h3>
                            {% endfor %}
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- /.row -->

    </div>
    <!-- /.container -->
{% endblock container %}

